cloudpickle
dash
dash-bootstrap-components
dash-core-components
dash-html-components
dash-renderer
dash-table
flask==1.1.1
flask-compress
flask-login
flask-wtf==2.2.1
markdown
plotly
graphviz
wtforms
jupyter
sshtunnel
ipython
gitpython
numpy
pandas
scipy
scikit-learn
git+https://github.com/gucky92/datajoint-python.git
