cloudpickle
dash
dash-bootstrap-components
dash-core-components
dash-html-components
dash-renderer
dash-table
flask==1.1.1
flask-compress
flask-login
wtforms==2.2.1
flask-wtf
markdown
plotly
graphviz
jupyter
sshtunnel
ipython
gitpython
numpy
pandas
scipy
scikit-learn
slackclient
git+https://github.com/gucky92/datajoint-python.git
